/* ****************header-banner */

.container-header {
  
  background-color: red;
  display: flex;
  
  text-align: center;

  
}
.header-banner {
  display: flex;
  
  width: 100%;
}


/* *****nav-bar******* */

.sticky + .content {
  padding-top: 60px;
}
.navbar-style {
  
position: fixed;
}


/*  ************* amazing bar                  */

.icon-navbar-shoping{
    height: 30px;
    width: 30px;
}

.todays-off-bar{
    background-color: red;
    font-size: 40px;
    text-align: center;
    
}


.todays-off-bar > span{
    color: white;
}
.icon-off-style-2{
    transform: scaleX(-1);
}
.flex-container {
    display: flex;
    background-color: rgb(250, 189, 110);
    justify-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-container > div {

    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  .icon-amazing-offer{
    

  }
  .offer-image-tital{
    float: left; position: relative;
    
  
  }
  
  
  .offer-iamge{
    position: absolute; 
    width: 50px;
    height: 50px;
    top: 40; left: 0;
   
  
  }
  .amazing-offer-image{
    opacity: 0.4;
    width: 140px;
    height: 140px;
  }
  .amazing-offer-image:hover{

    opacity: 1.0;
  }
  .p-stle-amazing-offer{
    font-size: 20px;
    text-align: center;
    background-color: #bdd3ec;

  }


/* **********animation****** */

.animation-total{
  background-color: rgb(100,0, 100);

display: flex;
}


.apple-animation {
  width: 100px;
  height: 100px;
  background-color:rgb(100,0, 100);
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes example {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}


.apple-animation2 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example2;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example2 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}

.apple-animation3 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example3;
  animation-duration: 3s; 
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example3 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 
.apple-animation4 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example4;
  animation-duration: 3s; 
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example4 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 
.apple-animation5 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example5;
  animation-duration: 3s; 
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example5 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 
.apple-animation6 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example6;
  animation-duration: 3s; 
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example6 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 
.apple-animation7 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example7;
  animation-duration: 3s; 
  animation-delay: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example7 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 
.apple-animation8 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example8;
  animation-duration: 3s; 
  animation-delay: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example8 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 
.apple-animation9 {
  width: 100px;
  height: 100px;
  background-color:rgb(100, 0, 100 );
  position: relative;
  animation-name: example9;
  animation-duration: 3s; 
  animation-delay: 8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

}

@keyframes example9 {
  0%   { left:1500px ; top:0px;}

  100% { left:0px; top:0px;}
}
 




  
/* **********favorate-list */



  .favorate-list-bar{
    background-color: rgb(95, 21, 124);
    font-size: 40px;
    text-align: center;
    
}
.favorate-list-bar> span{
    color: white;
}
  

.flex-container-favorate-list {
  display: flex;
  background-color: rgb(95, 171, 248);
  justify-content: center;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-container-favorate-list > div {

  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}


/* ***********footer ********** */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#684892;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}






